
.transparent_bg {
  background: transparent;
}

.window-controls-osd > button > image {
    color: alpha(white, .9);
    background-color: alpha(black, .7);
}

.window-controls-osd > button > image:hover {
    color: white;
    background-color: alpha(mix(black, white, .15), .65);
}

.favourite-button {
  --accent-bg-color: var(--red-1);
  --accent-fg-color: var(--light-2);
}

.genre {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

